* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEF2F6 !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  background-color: #EEF2F6;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}